/* * {
    outline: 1px dotted red;
} */

/* ------------------------------------ */

body{
    background-color: rgb(47, 46, 46);
}

form {
    background-color: rgb(47, 46, 46);
}

label {
    color: whitesmoke;
}

#steakCardsTitle{
    color:whitesmoke;
}

#headerTitle {
    color:whitesmoke;
    padding-top: 15px;
}

#copyRight {
    color:whitesmoke;
}

/* --------------------------------------- */
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}